<div class="container">
  <h2>Unit Tests</h2>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Basic Unit Tests </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <div class="list-group">
              <a href="#" class="list-group-item">Test Constructors Cpu</a>
              <a href="#" class="list-group-item">Test Constructor Gpu</a>
              <a href="#" class="list-group-item">Third item</a>
            </div>
          </div>
          <div class="col-md-1">
            <span>Two years ago</span>
            <span>Two minutes ago</span>
          </div>
          <div class="col-md-1">
            <div class="list-group">
              <a href="#" class="list-group-item">
                <span tooltip content="Run Test"class="glyphicon glyphicon-ok"></span>
              </a>
              <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
              <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
