<div class="jumbotron text-center">
  <h1>DashBoard C++ Tests</h1>
  <p class="lead">Welcome to the dasboard when you can run c++ tests remotely</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Unit Tests</h3>
    <p>Run specifics unit tests</p>
  </div>
  <div class="col-md-4">
    <h3>Dashboard vizualizer</h3>
    <p>Vizualize in real time the status of the CPU anf GPU</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Visualize an historicy of the data</p>
  </div>
</div>
